*.iml
.gradle
/gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.idea/inspectionProfiles/
/petinfo/
birthdayCake/
petinfo/.gitignore
petinfo/build.gradle
petinfo/libs/
petinfo/proguard-rules.pro
petinfo/src/androidTest/
petinfo/src/main/AndroidManifest.xml
petinfo/src/main/res/drawable/
petinfo/src/main/res/mipmap-hdpi/
petinfo/src/main/res/mipmap-mdpi/
petinfo/src/main/res/mipmap-xhdpi/
petinfo/src/main/res/mipmap-xxhdpi/
petinfo/src/main/res/mipmap-xxxhdpi/
petinfo/src/main/res/values/colors.xml
petinfo/src/main/res/values/strings.xml
petinfo/src/main/res/values/styles.xml
petinfo/src/test/
